.editProfileContainer .container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.editProfile {
    border-radius: 10px;
    margin-top: 50px;
    width: 80%;
    padding: 20px;
    box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.1);
}

.editProfile h1 {
    font-size: 1.3rem;
    font-weight: 600;
    margin-bottom: 20px;
}