.pembelajaran {
    padding-top: 120px;
}

.pembelajaran .container {
    display: flex;
    align-content: center;
    justify-content: center;
}

.pembelajaran .materiPembelajaran {
    width: 70%;
    margin-right: 20px;
    /* border: 2px solid var(--border-color-2); */
    /* padding: 20px; */
    /* border-radius: 10px; */
    /* box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.1); */
}

.pembelajaran .materiPembelajaran .controlMobile {
    display: flex;
    margin-bottom: 20px;
    align-items: center;
    justify-content: space-between;
}

.pembelajaran .materiPembelajaran .playlistMobile:hover {
    background-color: var(--biru-cerah);
    color: var(--putih);
    transition: .5s;
}

.pembelajaran .materiPembelajaran .playlistMobile {
    display: flex;
    transition: .5s;
    cursor: pointer;
    padding: 10px 15px;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background: hsl(240, 4.8%, 95.9%);
}

.pembelajaran .materiPembelajaran .playlistMobile:hover span {
    color: var(--putih);
    transition: .5s;
}

.pembelajaran .materiPembelajaran .playlistMobile span {
    font-size: .8rem;
    font-weight: 500;
    margin-left: 10px;
    transition: .5s;
}

.pembelajaran .materiPembelajaran .playlistMobile svg {
    width: 20px;
    height: 20px;
}

.pembelajaran .isiPembelajaran {
    border-radius: 10px;
    border: 2px solid var(--border-color-2);
}

.pembelajaran .isiPembelajaran .contentMateri {
    padding: 20px;
}

.pembelajaran .materiPembelajaran .materiVidio {
    width: 100%;
    height: 550px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.pembelajaran .materiPembelajaran .containerJudul {
    padding: 20px;
    display: flex;
    align-content: center;
    justify-content: space-between;
    border-bottom: 2px solid var(--border-color-2);
}

.pembelajaran .materiPembelajaran .containerJudul h1 {
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.pembelajaran .materiPembelajaran .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.pembelajaran .materiPembelajaran .icon .next {
    margin-left: 10px;
}

.pembelajaran .materiPembelajaran .icon .next:hover,
.pembelajaran .materiPembelajaran .icon .prev:hover {
    background-color: var(--biru-cerah);
    color: var(--putih);
    transition: .5s;
}

.pembelajaran .materiPembelajaran .icon .next,
.pembelajaran .materiPembelajaran .icon .prev {
    width: 30px;
    height: 30px;
    padding: 5px;
    display: flex;
    cursor: pointer;
    transition: .5s;
    border-radius: 10px;
    background: hsl(240, 4.8%, 95.9%);
    align-items: center;
    justify-content: center;
    border: 1px solid var(--border-color-2);
}

.pembelajaran .playlist {
    top: 15vh;
    width: 30%;
    height: 100vh;
    position: sticky;
    border-radius: 10px;
    padding-bottom: 20px;
    align-self: flex-start;
    /* background-color: var(--putih); */
    /* box-shadow: 0 0.6rem 1.3rem rgba(0, 0, 0, 0.1); */
}

.pembelajaran .playlist .titlePlaylist {
    padding: 20px;
    position: relative;
    margin-bottom: 20px;
    border: 1px solid var(--border-color-2);
}

.pembelajaran .playlist .titlePlaylist h2 {
    font-size: 1.2rem;
    margin-bottom: 5px;
    font-weight: 600;
}

.pembelajaran .playlist .titlePlaylist p {
    font-size: .8rem;
}

.pembelajaran .playlist .titlePlaylist .round-kananatas,
.pembelajaran .playlist .titlePlaylist .round-kananbawah,
.pembelajaran .playlist .titlePlaylist .round-kiriatas,
.pembelajaran .playlist .titlePlaylist .round-kiribawah {
    position: absolute;
}

.pembelajaran .playlist .titlePlaylist .round-kananatas {
    top: -10px;
    right: -10px;
    transform: rotate(-45deg);
}

.pembelajaran .playlist .titlePlaylist .round-kananbawah {
    bottom: -14px;
    right: -6px;
    transform: rotate(45deg);
}

.pembelajaran .playlist .titlePlaylist .round-kiriatas {
    left: -10px;
    top: -10px;
    transform: rotate(45deg);
}

.pembelajaran .playlist .titlePlaylist .round-kiribawah {
    left: -6px;
    bottom: -15px;
    transform: rotate(-45deg);

}




.daftarIsi {
    overflow-y: auto;
    display: flex;
    /* align-items: center; */
    flex-direction: column;

}

.daftarIsi .perDaftarIsi.active,
.daftarIsi .perDaftarIsi:hover {
    color: var(--putih);
    background-color: var(--biru-cerah);
}

.daftarIsi .perDaftarIsi.active span,
.daftarIsi .perDaftarIsi:hover span {
    color: var(--putih);
}

.daftarIsi .perDaftarIsi .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}

.daftarIsi .perDaftarIsi.active .music {
    width: 20px;
    height: 20px;
    display: inherit;
}

.daftarIsi .perDaftarIsi .music {
    color: var(--putih);
    display: none;
}

.daftarIsi .perDaftarIsi span {
    font-size: .85rem;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
}

.daftarIsi .perDaftarIsi {
    width: 100%;
    padding: 10px 15px;
    display: flex;
    align-items: center;
    border-radius: 10px;
    justify-content: space-between;
}

.daftarIsi .kunci-unlock {
    width: 15px;
    height: 15px;
}

.containerModal .modal-title h2 {
    font-size: 1.3rem;
    font-weight: 600;
}

.containerModal .modal-title span {}


.bab .title {
    width: 100%;
    padding: 10px 20px;
    margin: 7px 0;
    border-radius: 10px;
    background-color: #EFF2F6;
    cursor: pointer;
}

.bab .title h3 {
    font-size: 1.2rem;
}

.bab .title .icon {
    transition: .5s ease-in;
}

.bab .isiMateri {
    display: none;
}

.bab.isShow .isiMateri {
    display: inherit;
}

.bab.isShow .title .icon {
    transform: rotate(180deg);
    transition: .5s ease-in;
}


.bab .isiMateri .perMateri {
    padding: 10px;
    margin: 5px;
}

.bab .isiMateri .perMateri p {
    font-size: .85rem;
    font-weight: 500;
    text-overflow: ellipsis;
    display: -webkit-box;
    overflow: hidden;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
}

.bab .isiMateri .perMateri.isActive p {
    color: var(--putih);
}


.bab .isiMateri .perMateri.isActive {
    background-color: var(--biru-cerah);
    border-radius: 10px;
}

.bab .isiMateri .perMateri.isPassed p {
    /* color: var(--putih); */
    text-decoration: line-through;
}

.bab .isiMateri .perMateri .icon {
    display: flex;
    align-items: center;
    justify-content: center;
}


.bab .isiMateri .perMateri.isActive .icon .kunci-lock,
.bab .isiMateri .perMateri.isActive .icon .kunci-unlock {
    color: var(--putih);
}

.bab .isiMateri .perMateri.isPassed .icon .kunci-lock {
    display: none;
}

.bab .isiMateri .perMateri.isPassed .icon .kunci-unlock {
    display: inherit;
}

.bab .isiMateri .perMateri .icon .kunci-unlock {
    display: none;
}

.bab .isiMateri .perMateri .icon .kunci-lock,
.bab .isiMateri .perMateri .icon .kunci-unlock {
    width: 15px;
    height: 15px;
}

.bab .isiMateri .perMateri .icon .music {
    display: none;
}

.bab .isiMateri .perMateri.isActive .icon .music {
    width: 20px;
    height: 20px;
    display: inherit;
    color: var(--putih);
}