@media (min-width: 1900px) {
  header nav ul li a {
    font-size: 1.5rem;
    margin: 0 20px;
  }

  header .container nav ul li a {
    margin: 0 0px;
  }

  .container {
    max-width: 1340px;
  }

  .techStack {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  header {
    width: 100%;
    min-height: 8vh;
    max-height: 100%;
  }

  header .container {
    max-width: 1740px;
  }

  section,
  footer,
  header {
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .homeHero,
  .hero {
    height: 60vh;
  }

  .containerClient {
    border-top-right-radius: 100px;
  }

  .containerKerjasama .container {
    border-top-left-radius: 100px;
  }

  .contentArtikel .container .thumbnail {
    height: 500px;
  }

  .containerModal .modal {
    width: 40%;
  }
}

@media (max-width: 1100px) {
  .footer .aboutFooter {
    display: none;
  }

  .footer .links {
    width: 100%;
  }

  .footer .box {
    width: calc(100% / 4);
  }

  .footer .links .box:first-child {
    display: block;
    flex: 1 1 15rem;
    margin: 10px;
  }

  .keunggulanContainer .keunggulan .perKeunggulan {
    padding: 0px;
    flex-direction: column;
    align-items: flex-start;
  }

  .keunggulanContainer .keunggulan .perKeunggulan img {
    align-self: self-start;
    margin-right: 0;
    margin-bottom: 10px;
  }

  .keunggulanContainer .keunggulan .perKeunggulan .caption h2 {
    margin-bottom: 0px;
    font-size: 1.4rem;
  }

  .keunggulanContainer .keunggulan .perKeunggulan .caption p {
    font-size: 0.9rem;
  }

  .courses .perCourses {
    width: calc(95% / 2);
    margin: 20px 7px;
  }
}

@media (max-width: 1000px) {

  article,
  header,
  article,
  section,
  .containerKerjasama .container {
    padding: 0 50px;
  }

  /* Home */

  .Mainbanner h1 {
    font-size: 4.0rem;
  }

  .Mainbanner .caption {
    width: 90%;
  }

  .Mainbanner p {
    font-size: 1.2rem;
  }

  .roadmap {
    flex-wrap: wrap;
    justify-content: center;
  }

  .roadmap .perRoadmap {
    margin: 10px;
    width: calc(90% / 2);
  }

  .fasilitas .container {
    margin-top: 50px;
  }

  .fasilitas .caption {
    width: 60%;
    margin-left: 20px;
  }

  .fasilitas .caption h1 {
    font-size: 2rem;
    line-height: 2.5rem;
    margin-bottom: 20px;
  }

  .fasilitas .caption p {
    font-size: 1rem;
  }

  .fasilitas .caption .icon {
    width: 25px;
    height: 25px;
  }

  .fasilitas img {
    width: 40%;
    height: 350px;
  }

  .faqSection .FAQ .perFAQ {
    width: 100%;
  }

  .faqSection .FAQ .perFAQ h2 {
    font-size: 1rem;
  }


  .testimonialContainer {
    height: 1000px;
  }

  .testimonialContainer .container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
  }

  .testimonialContainer .caption {
    width: 80%;
    margin-right: 0;
    margin-bottom: 70px;
  }

  .testimonialContainer .caption h1 {
    font-size: 2.9rem;
    line-height: 4rem !important;
  }

  .testimonialContainer .caption p {
    font-size: 1.1rem;
    line-height: 1.7rem;
    margin-bottom: 25px;
  }

  .testimonialContainer .testimonial {
    width: 80%;
  }

  .perArtikel .img {
    height: 150px;
    margin-bottom: 0;
  }

  .perArtikel .img span {
    padding: 5px 10px;
    font-size: 0.7rem;
  }

  .perArtikel h2 {
    line-height: 1.7rem;
    padding: 0;
    margin-bottom: 10px;
  }

  .perArtikel p {
    padding: 0;
  }

  footer .container {
    padding-left: 50px;
  }

  .footer .container,
  .containerKerjasama .container {
    padding: 50px 50px 0 50px;
    margin-left: 0;
  }

  .containerKerjasama .container .caption {
    width: 100%;
    margin-right: 20px;
  }

  /* Per Artikel */
  .contentArtikel .container .thumbnail {
    height: 270px;
  }

  .contentArtikel .content {
    width: 100%;
  }

  .rekomendasiArtikel .perArtikel {
    width: calc(93% / 2);
  }

  /* Per Artikel */

  /* Event */

  .Event .container .program .masihBerlangsung .perMasihBerlangsung {
    margin: 10px 5px;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung .date p {
    font-size: 0.9rem;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung .btn button {
    font-size: 0.9rem;
  }

  /* Event */

  /* Login */

  .containerLogin .container .login {
    width: 60%;
  }

  /* Login */
}

@media (max-width: 900px) {

  article,
  header,
  section {
    padding: 0 25px;
  }

  .hero img {
    width: 50%;
  }

  .hero .caption {
    width: 50%;
  }

  .hero .caption h1 {
    font-size: 2.2rem;
    line-height: 50px;
    margin-bottom: 20px;
  }

  .hero .caption p {
    font-size: 1.1rem;
  }

  .footer .box {
    width: calc(100% / 3);
  }

  /* event */

  .Event .container .sorting {
    width: 40%;
  }

  .Event .container .program {
    width: 60%;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung {
    width: 100%;
    margin: 10px 0;
  }

  .Event .container .program .masihBerlangsung .perMasihBerlangsung .btn button {
    font-size: 1rem;
    padding: 12px;
  }

  /* event */

  /* Halaman Detail Event start */
  .contentEvent {
    height: 100%;
  }

  .contentEvent .container {
    flex-wrap: wrap-reverse;
  }

  .contentEvent .container .caption {
    width: 100%;
    margin: 0;
  }

  .contentEvent .container .caption h1 {
    font-size: 2rem;
    font-weight: 650;
    line-height: 45px;
    margin: 30px 0;
  }

  .contentEvent .container .caption p {
    font-size: 1.2rem;
  }

  .contentEvent .container .img {
    width: 100%;
    height: 300px;
  }

  .detailEvent .container {
    flex-wrap: wrap;
  }

  .detailAcara {
    width: 100%;
    margin-bottom: 30px;
    margin-right: 0px;
  }

  .detailHarga {
    width: 100%;
    position: static;
    top: 0;
  }

  .detailHarga button {
    padding: 15px;
  }

  /* Halaman Detail Event end */

  /* Kontak */
  .kontak .container {
    flex-wrap: wrap;
  }

  .kontak .container .caption,
  .kontak .container img {
    width: 100%;
  }

  .kontak .container img {
    height: 30rem;
    margin-bottom: 50px;
  }

  .kontak .container .caption {
    margin-left: 0;
  }

  .kontak .container .caption h1 {
    text-align: center;
  }

  .kontak .container {
    flex-wrap: wrap;
  }

  .kontak .container .caption,
  .kontak .container img {
    width: 100%;
  }

  .kontak .container img {
    height: 30rem;
    margin-bottom: 50px;
  }

  .kontak .container .caption {
    margin-left: 0;
  }

  .kontak .container .caption h1 {
    text-align: center;
  }

  /* Kontak */
}

@media (max-width: 850px) {
  header nav {
    display: none;
  }

  .navMobile {
    display: inline-block;
  }

  .menu {
    display: flex;
  }

  header .login {
    display: none;
  }

  header .logo {
    margin-right: 0;
  }

  .artikelHome {
    flex-wrap: wrap;
  }

  .perArtikel {
    width: calc(90% / 2);
  }

  .perArtikel .img {
    height: 200px;
    margin-bottom: 0;
  }
}

@media (max-width: 800px) {
  .roadmap .perRoadmap img {
    height: 170px !important;
  }

  .fasilitas .container {
    margin-top: 25px;
  }

  .fasilitas .caption {
    margin-left: 15px;
  }

  .fasilitas .caption button {
    font-size: .9rem;
    margin-top: 20px;
  }

  .fasilitas .caption h1 {
    font-size: 1.7rem;
    line-height: 2.3rem;
  }

  .fasilitas .caption p {
    font-size: .95rem;
  }

  .fasilitas .caption .icon {
    width: 20px;
    height: 20px;
  }

  .fasilitas img {
    height: 300px;
  }

  .title {
    padding: 30px 0 0 0;
    font-size: 1.2rem;
  }

  .courses .perCourses {
    /* width: 70%; */
    margin: 20px 5px;
  }

  .artikelHomeContainer .container {
    margin: 50px 0;
  }

  .testimonialContainer .caption {
    width: 100%;
  }

  .testimonialContainer .testimonial {
    width: 100%;
  }

  .containerClient {
    border-top-left-radius: 0;
    padding-bottom: 50px;
  }

  .containerClient .clientTitle {
    align-items: start;
    flex-direction: column;
  }

  .containerClient .clientTitle h2 {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .containerClient .clientTitle p {
    width: 100%;
  }

  .containerKerjasama {
    padding: 0 25px;
    background-color: #111827;
  }

  .containerKerjasama .container {
    width: 100%;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    padding: 50px 0;
    border-top-right-radius: 0;
    background-color: transparent;
  }

  .containerKerjasama .container .caption {
    width: 100%;
    margin: 0 0 30px 0;
  }

  .footer {
    margin: 0;
    background-color: #111827;
  }

  .footer .container {
    width: 100%;
    padding: 0 15px;
    background-color: transparent;
  }

  footer {
    background-color: #111827;
  }

  footer .container {
    width: 100%;
    font-size: 1rem;
    border-radius: 0;
    padding-left: 0;
    justify-content: center;
    text-align: center;
    background-color: transparent;
  }

  /* Artikel */
  .heroArtikel {
    margin-bottom: 30px;
  }

  .subArtikel {
    font-size: 1.5rem;
    margin: 20px 0;
  }

  .artikelPilihan .bigArtikel {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  .artikelPilihan .bigArtikel img {
    width: 100%;
    border-radius: 10px;
    height: 300px;
  }

  .artikelPilihan .bigArtikel:hover img {
    transform: scale(1);
  }

  .artikelPilihan .bigArtikel .detailArtikel {
    width: 100%;
    padding: 20px 20px 30px 20px;
  }

  /* Artikel */

  /* event */
  .heroEvent .container form {
    width: 100%;
  }

  .keteranganProgram span {
    font-size: 0.9rem;
    padding: 20px 10px;
  }

  /* event */

  /* Login */
  .containerLogin .container .login {
    width: 80%;
  }

  .containerLogin .container h1 {
    font-size: 2.5rem;
  }

  /* Login */

  /* Detail Event */

  .containerModal .modal {
    width: 100%;
  }

  /* Detail Event */
}

@media (max-width: 700px) {
  .roadmap .perRoadmap img {
    height: 150px !important;
  }

  .roadmap .perRoadmap h2 {
    font-size: 18px;
    line-height: 25px;
  }

  .roadmap .perRoadmap p {
    font-size: .9rem;
    margin-top: 5px;
  }

  .fasilitas .container {
    flex-wrap: wrap;
    margin-top: 50px;
  }

  .fasilitas .caption {
    width: 80%;
    margin-left: 0;
  }

  .fasilitas .caption button {
    font-size: 1rem;
    /* margin-top: 20px; */
  }

  .fasilitas .caption h1 {
    text-align: left;
    /* font-size: 2; */
    /* line-height: 2.3rem; */
  }

  .fasilitas .caption p {
    font-size: 1rem;
    text-align: left;
  }

  .fasilitas .caption .icon {
    width: 30px;
    height: 30px;
  }

  .fasilitas img {
    width: 80%;
    height: 400px;
  }

  .toTop {
    bottom: 1.16rem;
  }

  .homeHero .container {
    flex-wrap: wrap-reverse;
  }

  .homeHero {
    height: 100%;
  }

  .homeHero .caption {
    width: 100%;
    margin-bottom: 50px;
  }

  .homeHero .caption h1 {
    font-size: 2.8rem;
    line-height: 60px;
  }

  .homeHero .heroImage {
    width: 100%;
    height: 400px;
    min-width: 100%;
    margin-top: 15vh;
    position: static;
  }

  .fitur li,
  .keunggulan .container {
    margin-top: 25px;
  }

  .fitur .perFitur,
  .keunggulan .perKeunggulan {
    width: 80%;
  }

  .hero {
    margin-top: 50px;
  }

  .hero .container {
    height: 100%;
    flex-wrap: wrap-reverse;
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .hero img {
    width: 100%;
    height: 300px;
    margin-bottom: 30px;
  }

  .hero .caption {
    width: 100%;
  }

  .keunggulanContainer .keunggulan .perKeunggulan img {
    width: 80px;
  }

  .keunggulanContainer .keunggulan .perKeunggulan .caption h2 {
    font-size: 1.2rem;
    margin-bottom: 0px;
  }

  .keunggulanContainer .keunggulan .perKeunggulan .caption p {
    font-size: 0.8rem;
  }

  .title p,
  .header-primary {
    text-align: center;
  }

  .courses .perCourses {
    width: 90%;
    margin: 10px 0;
  }

  .testimonialContainer {
    height: 100%;
  }

  .testimonialContainer .caption {
    margin-bottom: 0;
  }

  .testimonialContainer .caption h1 {
    font-size: 2.5rem;
    line-height: 3.3rem !important;
  }

  .testimonialContainer .caption p {
    font-size: 1.2rem;
    line-height: 2rem;
    margin-bottom: 2.5rem;
    margin-top: 20px;
  }

  .testimonialContainer .testimonial {
    width: 0;
    display: none;
  }

  .perArtikel .img {
    height: 150px;
  }

  /* Event */
  .heroEvent .container h1 {
    font-size: 1.9rem;
    font-weight: 700;
  }

  .heroEvent .container p {
    font-size: 1rem;
  }

  .Event .sorting {
    display: none;
  }

  .Event .container .program {
    width: 100%;
    padding: 0;
  }

  .keteranganProgram {
    display: flex;
    position: inherit;
    align-items: center;
    justify-content: space-between;
    border-bottom: 4px solid #e4e4e7;
    margin-bottom: 20px;
    padding: 10px 0;
  }

  .keteranganProgram span {
    width: 50%;
    text-align: center;
    font-size: 1rem;
    padding: 0 20px;
    position: relative;
  }

  .sortingMobile {
    display: inherit;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung img {
    height: 350px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h2 {
    font-size: 1.5rem;
    line-height: 30px;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h3 {
    font-size: 1.5rem;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung p {
    font-size: 1.1rem;
  }

  /* Event */

  /* Login */
  .containerLogin .container .login {
    width: 100%;
  }

  .containerLogin .container h1 {
    font-size: 2rem;
  }

  /* Login */

  /* Per Artikel */
  .contentArtikel .container .thumbnail {
    height: 250px;
  }

  .containerArtikelLainnya .artikelLainnya {
    flex-wrap: wrap;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya {
    width: calc(100% / 2);
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya img {
    height: 120px;
  }

  .rekomendasiArtikel .perArtikel {
    width: 100%;
    margin: 20px 0;
  }

  .contentArtikel .author .authorDetail p {
    display: none;
  }

  /* Per Artikel */
}

@media (max-width: 650px) {
  .Mainbanner h1 {
    font-size: 3.0rem;
  }

  .Mainbanner .caption {
    width: 100%;
  }

  .Mainbanner p {
    font-size: 1.1rem;
  }

  .faqSection .FAQ .perFAQ {
    height: 80px;

  }

  .faqSection .FAQ .perFAQ h2 {
    height: 80px;
  }

}

@media (max-width: 600px) {

  .fasilitas .caption {
    width: 100%;
  }

  .fasilitas img {
    width: 100%;
    height: 300px;
  }


  .header-primary {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .keunggulanContainer .keunggulan {
    flex-direction: column;
  }

  .keunggulanContainer .keunggulan .perKeunggulan {
    width: 100% !important;
  }

  .keunggulanContainer .keunggulan .perKeunggulan img {
    width: 80px;
  }

  .keunggulanContainer .keunggulan .perKeunggulan .caption h2 {
    font-size: 1.3rem;
  }

  .keunggulanContainer .keunggulan .perKeunggulan .caption p {
    font-size: 0.9rem;
  }

  .keunggulanContainer .title {
    justify-content: center;
    align-items: center;
    text-align: center !important;
  }

  .keunggulanContainer .title .header-primary {
    text-align: center !important;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .keunggulanContainer .title .btn {
    display: none;
  }

  .perArtikel {
    width: 100%;
    margin: 20px 0;
  }

  .perArtikel .img {
    height: 250px;
    margin-bottom: 0;
  }

  .perArtikel .img span {
    padding: 5px 15px;
    font-size: 0.9rem;
  }

  .perArtikel h2 {
    font-size: 1.4rem;
    line-height: 2rem;
  }
}

@media (max-width: 550px) {
  .roadmap .perRoadmap {
    margin: 20px 0;
    width: 80%;
  }

  .roadmap .perRoadmap img {
    height: 200px !important;
  }

  .roadmap .perRoadmap h2 {
    font-size: 20px;
    line-height: 30px;
  }

  .footer .container {
    flex-wrap: wrap;
    margin-right: 0;
  }

  .footer .box {
    width: calc(100% / 2);
    margin: 0.5rem 0;
  }

  .footer .links .box:first-child {
    display: none;
  }

  .footer .aboutFooter {
    flex: 1 1 0rem;
    display: inherit;
  }

  .footer .box h2 {
    font-size: 1.1rem;
  }

  .footer .box p {
    font-size: 0.95rem;
    padding: 0 0;
    margin-bottom: 20px;
  }

  .footer .box a {
    font-size: 0.95rem;
  }
}

@media (max-width: 500px) {
  .Mainbanner img {
    width: 120px;
    height: 200px;
  }

  .Mainbanner h1 {
    font-size: 2.5rem;
    line-height: 3.2rem;
  }

  .Mainbanner p {
    margin-top: 20px;
    font-size: 1rem;
  }



  /* Kontak */
  .kontak .container img {
    height: 20rem;
    margin-bottom: 10px;
  }

  /* Kontak */
  .title p {
    font-size: 0.9rem;
  }

  .navMobile {
    width: 60%;
  }

  .title ul li,
  .heroArtikel ul li p {
    padding: 5px 20px;
    font-size: 13px;
  }

  form .input-group button {
    width: 25%;
  }

  form textarea,
  form input {
    font-size: 0.8rem;
  }

  article,
  header,
  section,
  footer,
  .footer,
  .containerKerjasama {
    padding: 0 15px;
  }

  .title {
    font-size: 1rem;
  }

  .homeHero .container {
    flex-wrap: wrap-reverse;
  }

  .homeHero {
    height: 100%;
  }

  .homeHero .caption {
    width: 100%;
    margin-top: 3vh;
    margin-bottom: 50px;
  }

  .homeHero .heroImage {
    width: 100%;
    height: 300px;
    min-width: 100%;
    margin-top: 15vh;
    position: static;
  }

  .fitur .perFitur,
  .keunggulan .perKeunggulan {
    width: 100%;
    margin: 12px 0;
  }

  .hero .caption h1 {
    font-size: 2rem;
    line-height: 45px;
  }

  .hero .caption p {
    font-size: 1.1rem;
  }

  .stack .stackRow1 .perStack {
    margin-right: 10px;
  }

  .stack .stackRow2 .perStack {
    margin-left: 10px;
  }

  .stack .perStack {
    min-width: 188px;
    gap: 10px;
    padding: 10px;
  }

  .stack .perStack img {
    margin-right: 5px;
    max-height: 30px;
    max-width: 30px;
  }

  .stack .perStack .caption h3 {
    font-size: 1.1rem;
    line-height: 1.3rem;
  }

  .stack .perStack .caption p {
    font-size: 0.75rem;
    margin: 2px 0 0;
  }

  .courses .perCourses {
    width: 100%;
  }

  .artikelHomeContainer .container {
    margin-top: 25px;
  }

  .testimonialContainer .caption h1 {
    font-size: 2rem;
    line-height: 3rem !important;
  }

  .testimonialContainer .caption p {
    font-size: 1rem;
    line-height: 1.7rem;
    margin-bottom: 2rem;
  }

  .perArtikel .img {
    height: 200px;
  }

  .perArtikel h2 {
    font-size: 1.3rem;
    line-height: 1.9rem;
  }

  .footer .container {
    padding: 0;
  }

  .containerClient .clientTitle p {
    font-size: 1.2rem;
  }

  .containerKerjasama .container .caption h2 {
    font-size: 2rem;
    line-height: 45px;
  }

  .containerKerjasama .container .caption p {
    font-size: 1.1rem;
  }

  /* Event */
  .Event .program .masihBerlangsung .perMasihBerlangsung img {
    height: 200px;
  }

  /* Event */

  /* Detail Event Start */

  .detailAcara .waktuPelaksanaan .date {
    flex-wrap: wrap;
  }

  .detailAcara .waktuPelaksanaan .date .tanggal p,
  .detailAcara .waktuPelaksanaan .date .waktu p {
    font-size: 1rem;
  }

  .detailAcara .waktuPelaksanaan .date .tanggal .icon,
  .detailAcara .waktuPelaksanaan .date .waktu .icon {
    font-size: 1rem;
    margin-right: 15px;
  }

  .detailAcara .waktuPelaksanaan .date .tanggal p {
    margin-bottom: 15px;
  }

  .tentangPembicara .orang .profilOrang img {
    width: 70px;
    height: 60px;
  }

  /* Detail Event End */

  /* Detail Artikel */
  .content .identitas {
    flex-wrap: wrap;
  }

  .content .identitas .perIdentitas {
    width: 100%;
    margin: 0;
  }

  /* Detail Artikel */

  /* Artikel */

  .heroArtikel h1 {
    font-size: 1.8rem;
    margin-bottom: 15px;
  }

  .artikelPilihan .bigArtikel img {
    height: 200px;
  }

  .artikel .perArtikel img {
    height: 200px;
  }

  /* Artikel */
}

@media (max-width: 450px) {
  .Mainbanner .cta {
    margin-top: 10px;
  }

  .Mainbanner .cta button {
    margin: 10px 0;
    width: 100%;
  }

  .roadmap {
    margin-top: 10px;
  }

  .roadmap .perRoadmap {
    margin: 15px 0;
    width: 100%;
  }

}

@media (max-width: 400px) {

  .Mainbanner h1 {
    font-size: 2.2rem;
    line-height: 3rem;
  }

  .Mainbanner p {
    margin-top: 10px;
  }

  .Mainbanner .cta button {
    font-size: .9rem;
  }

  .roadmap .perRoadmap {
    margin: 10px 0;
  }

  .fasilitas .container {
    margin-top: 25px;
  }

  .fasilitas .caption button {
    font-size: .9rem;
    margin-top: 15px;
  }

  .fasilitas .caption h1 {
    margin-bottom: 15px;
  }

  .fasilitas .caption p {
    font-size: .9rem;
  }

  .fasilitas .caption .icon {
    width: 20px;
    height: 20px;
  }

  .fasilitas img {
    height: 250px;
  }

  .faqSection .FAQ .perFAQ {
    height: 90px;
  }

  .faqSection .FAQ .perFAQ h2 {
    height: 90px;
    padding: 0 20px;
  }

  /* Kontak */
  .kontak .container img {
    height: 15rem;
  }

  .kontak .container .caption h1 {
    font-size: 1.9rem;
  }

  .kontak .container .caption textarea,
  .kontak .container .caption input {
    font-size: 0.9rem;
  }

  /* Kontak */

  .homeHero .caption {
    margin-top: 0;
  }

  .homeHero .caption h1 {
    font-size: 2rem;
    line-height: 40px;
    margin-bottom: 15px;
  }

  .homeHero .caption p {
    font-size: 1rem;
  }

  .homeHero .caption a {
    font-size: 0.9rem;
  }

  .homeHero .heroImage {
    height: 250px;
    top: 13vh;
  }

  .hero img {
    height: 200px;
  }

  .hero .caption h1 {
    font-size: 1.7rem;
    line-height: 35px;
  }

  .hero .caption p {
    font-size: 1rem;
  }

  .hero .caption a {
    font-size: 0.9rem;
  }

  .header-primary {
    font-size: 1.3rem;
    line-height: 2rem;
  }

  .testimonialContainer .container {
    padding: 25px 0;
  }

  .artikelHomeContainer .container {
    margin-top: 10px;
  }

  .testimonialContainer .caption h1 {
    font-size: 1.7rem;
    line-height: 2.5rem !important;
  }

  .testimonialContainer .caption p {
    font-size: 0.95rem;
    line-height: 1.7rem;
    margin-bottom: 20px;
  }

  .testimonialContainer .caption a {
    font-size: 0.8rem;
  }

  .perArtikel .img {
    height: 170px;
  }

  .perArtikel .img span {
    padding: 5px 10px;
    font-size: 0.7rem;
  }

  .perArtikel h2 {
    font-size: 1.2rem;
    line-height: 1.7rem;
  }

  .containerKerjasama .container .caption h2,
  .containerClient .clientTitle h2 {
    font-size: 1.7rem;
    margin-bottom: 20px;
    line-height: 30px;
  }

  .containerKerjasama .container .caption p,
  .containerClient .clientTitle p {
    font-size: 1rem;
    line-height: 25px;
  }

  .footer .box {
    width: 100%;
    margin: 1rem 0;
  }

  .footer .box h2 {
    font-size: 1.3rem;
  }

  .footer .box p {
    font-size: 1rem;
  }

  .footer .box a {
    font-size: 1rem;
  }

  footer p,
  footer p span {
    font-size: 14px;
  }

  /* Event */

  .sortingMobile .urutkan h2 {
    margin-right: 50px;
  }

  .keteranganProgram span {
    font-size: 0.9rem;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung .date .icon,
  .Event .program .masihBerlangsung .perMasihBerlangsung .date p {
    font-size: 0.9rem;
  }

  .Event .program .masihBerlangsung .perMasihBerlangsung h2 {
    font-size: 1.2rem;
    line-height: 25px;
  }

  /* Event */

  /* Detail Event */

  .content h3 {
    font-size: 1.2rem !important;
  }

  .containerModal .modal .modal-footer {
    flex-wrap: wrap;
  }

  .containerModal .modal .modal-footer button {
    width: 100%;
    padding: 10px;
  }

  .containerModal .modal .modal-footer h2 {
    font-size: 1.1rem;
    margin: 20px 0;
  }

  .containerModal .modal .modal-body form .form-group label {
    font-size: 0.9rem;
  }

  /* Detail Event */

  /* Artikel */

  .artikel .perArtikel .detailArtikel {
    padding-left: 15x;
    padding-right: 15x;
  }

  .artikel .perArtikel .detailArtikel h3 {
    font-size: 1.2rem;
    line-height: 25px;
  }

  .kategori {
    font-size: 11px;
    padding: 5px 10px;
  }

  /* Artikel */

  /* Detail Artikel */
  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya {
    width: 100%;
    padding: 5px 0;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya p {
    font-size: 1rem;
    line-height: 23px;
  }

  .contentArtikel .author .authorDetail {
    margin-left: 15px;
  }

  .contentArtikel .author img {
    width: 40px;
    height: 40px;
  }

  .contentArtikel .author .authorDetail h3 {
    font-size: 1.1rem;
    line-height: 15px;
  }

  .contentArtikel .author .authorDetail span {
    font-size: 0.8rem;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya img {
    height: 150px;
  }

  .containerArtikelLainnya .artikelLainnya .perArtikelLainnya p {
    font-size: 0.9rem;
    line-height: 1.3rem;
  }

  /* Detail Artikel */

  header .kanan .search,
  header .kanan .keranjang {
    width: 35px;
    height: 35px;
    padding: 5px;
  }

  .menu {
    width: 30px;
    height: 17px;
  }

  .menu span {
    height: 3px;
  }

  header .logo {
    font-size: 1.3rem;
  }
}

@media (max-width: 350px) {
  .Mainbanner h1 {
    font-size: 2rem;
    line-height: 2.5rem;
  }

  .Mainbanner p {
    line-height: 1.7rem;
  }

  .Mainbanner .cta button {
    font-size: .8rem;
  }


  .roadmap .perRoadmap {
    margin: 15px 0;
    width: 100%;
  }

  .roadmap .perRoadmap img {
    height: 150px !important;
  }

  .roadmap .perRoadmap h2 {
    font-size: 16px;
    line-height: 25px;
  }

  .fasilitas .caption button {
    font-size: .8rem;
  }

  .fasilitas .caption h1 {
    font-size: 1.5rem;
    line-height: 2rem;
  }

  .fasilitas img {
    height: 200px;
  }

  .courses .perCourses img {
    height: 170px;
  }

  .courses .perCourses h2 {
    font-size: 1.2rem;
  }

  .courses .perCourses p {
    font-size: 0.85rem;
  }

  .courses .perCourses button {
    font-size: .9rem;
  }
}

@media (max-width: 300px) {

  footer p,
  footer p span {
    font-size: 15px;
  }

  .perArtikel .img {
    height: 130px;
  }

  .perArtikel h2 {
    font-size: 1rem;
    line-height: 1.5rem;
  }

  .perArtikel p {
    font-size: 0.8rem;
  }
}